In [1]:
st1="hello everyone"
st2="hello everyone....."
print(st1)
print(st2)

hello everyone
hello everyone.....

In [3]:
st1="hello \"everyone"
st2="hello \'everyone....."
print(st1)
print(st2)

hello "everyone
hello 'everyone.....

In [9]:
st1="hello \teveryone"
st2="hello \neveryone....."
st3="hello \\ everyone....."
print(st1)
print(st2)
print(st3)

hello 	everyone
hello
everyone.....
hello \ everyone.....

In [12]:
print(r"hello\tworld")
print(R"hello\nworld")
print(r"hello\\world")

hello\tworld
hello\nworld
hello\\world

In [16]:
str1='''this is some text for multiple line demo
this is some text for multiple line demo
this is some text for multiple line demo
this is some text for multiple line demo
this is some text for multiple line demo\n'''
print(str1)

str2="""this is some text for multiple line demo
this is some text for multiple line demo
this is some text for multiple line demo
this is some text for multiple line demo
this is some text for multiple line demo"""
print(str2)

this is some text for multiple line demo
this is some text for multiple line demo
this is some text for multiple line demo
this is some text for multiple line demo
this is some text for multiple line demo

this is some text for multiple line demo
this is some text for multiple line demo
this is some text for multiple line demo
this is some text for multiple line demo
this is some text for multiple line demo

In [18]:
s1='hello'
s2=' world'
print(s1+s2)

hello world

In [19]:
s="*"
print(s*50)
print("hello world")
print(s*50)

**************************************************
hello world
**************************************************

In [20]:
tr="Python String"

print("5th Index",tr[5])
print("-5th Index",tr[-5])

5th Index n
-5th Index t

In [26]:
s1="python language"
print(s1[1:6])
print(s1[0:9])
print(s1[-6:-1])
print(len(s1))

ython
python la
nguag
15

In [29]:
n1="55"
n2="66"
print(n1+n2)
print(int(n1)+int(n2))

5566
121

In [30]:
n1=55
n2=66
print(n1+n2)
print(str(n1)+str(n2))

121
5566

In [33]:
n1=55
n2=66
n3=0
print(float(n1+n2))

print(bool(n1))
print(bool(n3))

121.0
True
False

In [34]:
n1=55
n2="retro"
f=True
n3=555.555
print(type(n1))
print(type(n2))
print(type(f))
print(type(n3))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

In [36]:
un=input("enter your name ")
print(un)

enter your name namu
namu

In [41]:
r=t=u="cse"
print(r,"\n",t,"\n",u)

tt,nn,mm="raja","aja","boja"
print(tt)
print(nn)
print(mm)

cse
 cse
 cse
raja
aja
boja

In [42]:
n=12
print(n)
print(+n)
print(-n)

12
12
-12

In [45]:
print((10>8) and (10>12))
print((10>8) or (10>12))
print(not(10>12))

False
True
True

In [54]:
print("{0:b}".format(int(input("entre the nombar "))))
print("{0:b}".format(int(input("entre the nombar "))))
print("{0:b}".format(~int(input("entre the nombar "))))#~represent minus value

entre the nombar 7
111
entre the nombar 1000
1111101000
entre the nombar 7
-1000

In [57]:
x=25
y=10
print(x&y)
print(x|y)
print(x^y)

8
27
19