In [4]:
emp=[101,"Dharma","Delivery",35000]
print("List with Data",emp)

emp[1]="Vijay"
print(emp[1:3])

countries=[]
print("Empty List",countries)

reg=list((1001,1002,1003,1004,1005))
print("using list()",reg)

marks=[55,66,77,88,99,23,65,76]
print(marks)

umarks=[m+15 for m in marks]
print(umarks)

umarks=[m+15 for m in marks if m%2==0]
print(umarks)

umarks=[m+15 for m in marks if m%2!=0]
print(umarks)

List with Data [101, 'Dharma', 'Delivery', 35000]
['Vijay', 'Delivery']
Empty List []
using list() [1001, 1002, 1003, 1004, 1005]
[55, 66, 77, 88, 99, 23, 65, 76]
[70, 81, 92, 103, 114, 38, 80, 91]
[81, 103, 91]
[70, 92, 114, 38, 80]

In [6]:
fruits=["apple","banana","mango","kiwi","pomegranate","muskmelon"]
print(type(fruits))
print(fruits[3])
print(fruits[1:4])
print(fruits[1:])

<class 'list'>
kiwi
['banana', 'mango', 'kiwi']
['banana', 'mango', 'kiwi', 'pomegranate', 'muskmelon']

In [9]:
marks=[55,66,77,88,99,23,65,76]
marks[1:3]=[100,200]
print(marks)
print("***********************")
fruits=["apple","banana","mango","kiwi","pomegranate","muskmelon"]
print(fruits)
del fruits[1]
print(fruits)
del fruits[1:4]
print(fruits)
del fruits[:]
print(fruits)

[55, 100, 200, 88, 99, 23, 65, 76]
***********************
['apple', 'banana', 'mango', 'kiwi', 'pomegranate', 'muskmelon']
['apple', 'mango', 'kiwi', 'pomegranate', 'muskmelon']
['apple', 'muskmelon']
[]

In [13]:
dept=["Development","testing","deployment","QA"]
print(dept)
dept.append("Delivery")
print(dept)
print(len(dept))
dept.insert(2,"Admin")
print(dept)

['Development', 'testing', 'deployment', 'QA']
['Development', 'testing', 'deployment', 'QA', 'Delivery']
5
['Development', 'testing', 'Admin', 'deployment', 'QA', 'Delivery']

In [19]:
data=[1,2,3,4]
d=["alpha","beta","gama"]
data.extend(d)
print(data)
print(d)

[1, 2, 3, 4, 'alpha', 'beta', 'gama']
['alpha', 'beta', 'gama']

In [26]:
mark=[23,54,1,44,76,95,46,764]
print("before sorting",mark)
mark.sort()
print("after sorting",mark)
mark.reverse()
print("after reverse sorting",mark)
mark.remove(764)
print("after removing",mark)
mark.pop()
print("after poping",mark)
mark.clear()
print("after clearing",mark)

before sorting [23, 54, 1, 44, 76, 95, 46, 764]
after sorting [1, 23, 44, 46, 54, 76, 95, 764]
after reverse sorting [764, 95, 76, 54, 46, 44, 23, 1]
after removing [95, 76, 54, 46, 44, 23, 1]
after poping [95, 76, 54, 46, 44, 23]
after clearing []

In [28]:
regno=101,123,234,345,456,567
print(regno)
print(type(regno))

regno1=(101,123,234,345,456,567)
print(regno1[2])
print(regno1[2:5])

(101, 123, 234, 345, 456, 567)
<class 'tuple'>
234
(234, 345, 456)

In [30]:
#immutable

name=["radha","vijaya","manju"]
print(name)

name[2]="rohit"
print(name)


names=("anu","lolo","polo","jolo")
print(names)
names[1]="jojo"
print(names)

['radha', 'vijaya', 'manju']
['radha', 'vijaya', 'rohit']
('anu', 'lolo', 'polo', 'jolo')

TypeError: 'tuple' object does not support item assignment

In [33]:
name="anu"
print(type(name))

name=()
print(type(name))

namu="roja",
print(type(namu))

nami=(1001,1002,1003)
print(type(nami))

namd=("admin","development","purchase","sales")
print(namd)
print(type(namd))

<class 'str'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
('admin', 'development', 'purchase', 'sales')
<class 'tuple'>

In [34]:
id={101,102,101}
print(id)
print(type(id))

{101, 102}
<class 'set'>

In [35]:
da={101,102,103,104,105,101,107,108,106}
ot={d for d in da if d %2!=0}
print(ot)

{105, 107, 101, 103}

In [38]:
s1={1,2,3,4}
s2={4,5,6,7}
print(s1|s2)
print(s1&s2)
print(s1-s2)
print(s1^s2)

{1, 2, 3, 4, 5, 6, 7}
{4}
{1, 2, 3}
{1, 2, 3, 5, 6, 7}

In [50]:
pro={"id":10011,"name":"books","qty":100,"price":12000}
print(pro)
print(type(pro))
print(pro["name"])
print(pro["id"])
print(pro["qty"])
print(pro["price"])
pro["id"]=909
print(pro)
print("id" in pro)
print("lol"in pro)
print(pro.keys())

{'id': 10011, 'name': 'books', 'qty': 100, 'price': 12000}
<class 'dict'>
books
10011
100
12000
{'id': 909, 'name': 'books', 'qty': 100, 'price': 12000}
True
False
dict_keys(['id', 'name', 'qty', 'price'])

In [48]:
m=dict([(1001,"mary"),(1002,"jason"),(1003,"wiler")])
print(m)

{1001: 'mary', 1002: 'jason', 1003: 'wiler'}

In [45]:
d={1,2,3,4,5,6,7,8}
od={e:e**2 for e in d}
print(od)
print(type(od))

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
<class 'dict'>