In [1]:
names=["Anu","vijay", "Radha", "manoj", "Ravi", "John"]
for idx,val in enumerate(names):
    print(idx, val)

0 Anu
1 vijay
2 Radha
3 manoj
4 Ravi
5 John

In [2]:
reg=[1011,1002,1005,1006,1004,4006]
names=["Anu","vijay", "Radha", "manoj", "Ravi", "John"]

for rno,name in zip(reg,names):
    print(rno,name)

1011 Anu
1002 vijay
1005 Radha
1006 manoj
1004 Ravi
4006 John

In [3]:
reg=[1011,1002,1005,1006,1004,4006]
names=["Anu","vijay", "Radha", "manoj", "Ravi", "John"]

for i in reversed(names):
    print(i)

for j in reversed(reg):
    print(j)

John
Ravi
manoj
Radha
vijay
Anu
4006
1004
1006
1005
1002
1011

In [4]:
pro={"id":1001,"name":"books","qty":160,"price":2500}
print(pro)

for k,v in pro.items():
    print(k,v)

{'id': 1001, 'name': 'books', 'qty': 160, 'price': 2500}
id 1001
name books
qty 160
price 2500

In [6]:
pro={id:1001,"name":"books","qty":160,"price":2500}
print("price" in pro)
print(id in pro)

reg=[1011,1002,1005,1006,1004,4006]
print(1011 in reg)
print(459349 in reg)

reg=[1011,1002,1005,1006,1004,4006]
print(1011 not in reg)
print(459349 not in reg)

True
True
True
False
False
True

In [7]:
regno=[1011,1003,1005, 1006,1004,4006] 
print(len(regno))

regno=[1011,1003, 1005,1006, 1004, 4806]
print(regno*2)

names=["Anu", "vijay", "Radha", "manoj", "Ravi", "John"] 
print(regno+names)

regno=[1011,1003,1005, 1005, 1004,4006]
print(min(regno))
print(max(regno))
print("index is:",regno.index(1003))

6
[1011, 1003, 1005, 1006, 1004, 4806, 1011, 1003, 1005, 1006, 1004, 4806]
[1011, 1003, 1005, 1006, 1004, 4806, 'Anu', 'vijay', 'Radha', 'manoj', 'Ravi', 'John']
1003
4006
index is: 1

In [8]:
l1=list(range(10))
print(l1)

l2=list(range(2,10))
print(l2)

l3=list(range(5,50,5))
print(l3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
[5, 10, 15, 20, 25, 30, 35, 40, 45]

In [10]:
if((int(input("Enter The Year")))%4==0):
    print("Leap year")
else:
    print("Not a Leap Year")

Enter The Year2001
Not a Leap Year

In [8]:
eno=int(input("enter the employee_id"))
ename=input("enter the employee name")
salary=int(input("enter the employee salary"))

if salary>35000:
    hra=salary*20/100
    
elif (salary>=20000 and salary<30000):
    hra=salary*15/100
    
else:
    hra=salary*10/100

print("Employee number:", eno)
print("Employee name:",ename)
print("Employee salary: ", salary)
print("Employee HRA: ",hra)

enter the employee_id1
enter the employee name1
enter the employee salary1
Employee number: 1
Employee name: 1
Employee salary:  1
Employee HRA:  0.1

In [4]:
i=0
n=(int(input("enter how many time should this to loop")))

while(i<n):
    if(i==5):
        continue
    else:
        print(i)
    i+=1

enter how many time should this to loop1
0

In [6]:
f=["apple","orange","jack","kiwi","lemon"]
for x in f:
    print(x)

for i in "hello world":
    print(i)

apple
orange
jack
kiwi
lemon
h
e
l
l
o

w
o
r
l
d

In [7]:
def a():
    print("hello")
a()
a()

hello
hello

In [8]:
def sum(n,m):
    return(n+m)

print(sum(int(input("Enter A")),int(input("Enter B"))))

Enter A10
Enter B20
30

In [9]:
def mul(n,m):
    return(n*m)

print(mul(int(input("Enter A")),int(input("Enter B"))))

Enter A10
Enter B20
200

In [11]:
ad= lambda x,y:x+y
print(ad(20,30))

50

In [12]:
mul=lambda x,y,z:x*y*z
print(mul(10,20,10))

2000