In [1]:
class employee:
    name="sachin"
    empid=1004
    salary=20000

e=employee()

print("Employee ID",e.empid)
print("Employee Name",e.name)
print("Salary",e.salary)

Employee ID 1004
Employee Name sachin
Salary 20000

In [9]:
class stu:
    regno=int(input("Enter the Register Number"))
    name=input("Enter Your Name")
    mark=int(input("Enter Marks"))

s=stu()

print("Register Number",s.regno)
print("Name",s.name)
print("Marks",s.mark)

Enter the Register Number1001
Enter Your NameShashi
Enter Marks99
Register Number 1001
Name Shashi
Marks 99

In [10]:
class person:
    def __init__(self,name,age,city):
        self.name=name
        self.age=age
        self.city=city

p1=person("ravi","40","Bangalore")

print("Name ",p1.name)
print("Age ",p1.age)
print("City ",p1.city)

Name  ravi
Age  40
City  Bangalore

In [12]:
class product:
    def __init__(self,id,name,price):
        self.id=id
        self.name=name
        self.price=price
        
    def display(self):
        print("Product ID ",self.id)
        print("Product Name ",self.name)
        print("Product Price ",self.price)
        
p1=product(10001,"Headphones",5000)
p1.display()

Product ID  10001
Product Name  Headphones
Product Price  5000

In [14]:
class person:
    def __init__(self,fname,lname):
        self.firstname=fname
        self.lastname=lname

        
    def printname(self):
        print(self.firstname,self.lastname)
        
        
class student(person):
    def __init__(self,fname,lname):
        person.__init__(self,fname,lname)
        
x=student("sachin","tendulkar")
x.printname()

sachin tendulkar